.header-container {
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-bottom:2px solid #ccc;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.header-container h1, h2, h3 {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.header-container .logo, .main-heading, .contact {
    padding: 8px;
}

.header-container .logo {
    width:100px;
}

.header-container .main-heading {
    padding: 8px;
    width: 50%;
    text-align: center;
}

.nav-container {
    padding:8px;
}

.nav-container  ul {
    display: flex;
    justify-content: center;
    margin: 0px;padding: 0px;
}

.nav-container  ul li {
    list-style: none;
    padding: 8px;
    cursor: pointer;
    border-radius:5px
}

.nav-container  ul li:hover {
    background-color: #000;
    color: #fff;
}