.footer-container {
  background-color: #000;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-container ul {
  display: flex;
  justify-content: center;
  padding: 8px;
}

.footer-container ul li {
  list-style: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
}

.footer-container ul li:hover {
  background-color: #fff;
  color: #000;
}
